*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* posts.css */

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  